* {
  box-sizing: border-box;
}


.topnav{
    display:block; /*Use both block and floating elements*/
	text-align:Right;
	margin-top: 7px;
	background-color: #6f8e88;
    }
    
.topnav a {
color: #3a2f24;
}

.left {
  float: left; /*Create a floated layout*/
  width: 55%;
  padding: 0 2px;
  overflow:auto; /*Handle overflow*/
  margin-top: 7px;
}

.article {
  background-color: #6f8e88;
  float: right;
  width: 45%;
  padding: 60px;
  margin-top: 7px;
  text-align: center;
}

.art {
  background-color: #fefefe;
  float: right;
  width: 45%;
  padding: 50px;
  margin-top: 2px;
  text-align: center;
}

.art .container{
	box-sizing:border-box;
	background-color: #fff3fc;
	padding: 0px;
	color: #3a2f24;
	font-size: 14px;
	margin: 5px;
	width: 100%;
	padding: 10px;
}
.art .container p {
	color: #d3e3d6;
}
.art .container h2{
	color: #6f8e88;
}
	

input[type=text], select, textarea {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 4px;
	resize: vertical;
}

footer{
background-color: #d3e3d6;
text-align:center;
padding:10px;
margin-top:7px;
}

.pgheader {
	background-color: #d3e3d6;
    padding:12px;
  text-align:center;
 }
/* responsive design to different screen widths using @media and flex/flexbox*/
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
